@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* img {
  display: block;
  height: auto;
} */

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  height: 60px;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: transparent;
  background: #000000;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 50px;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  gap: 35px;
  padding: 33px 27px;
  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 490px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: #000000;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  text-decoration: none;
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #505050;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #084282;
}

.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}
@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 267px;
    height: 41px;
  }
  .header {
    height: 100px;
    padding: 29px 46px;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;

    -ms-flex-direction: row;
    flex-direction: row;

    flex: 1;

    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    justify-content: start;
    position: static;
    width: auto;
    padding-block: 0;
    flex: 1;
    gap: 45px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation__link {
    font-family: Jost;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .header__icon-home-img {
    display: none;
  }
}

.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 748px;
  width: 390px;
  margin: auto;
  background-image: url("/image/home/main\ Section.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}
.home__container-top {
  display: flex;

  flex-direction: column;
  align-items: center;
  gap: 34px;
}
.home-title {
  width: 328px;
  text-transform: uppercase;
  font-family: Jost;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #084282;
}
.home-text {
  width: 326.23px;

  font-family: Jost;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #505050;

  padding: 44px 0 43px;
}

.home__google-button_link {
  display: inline-block;
  width: 310px;
  height: 69px;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1441px;
    height: 832px;

    width: auto;
    background-image: url("/image/home/Main\ Section\ \(1\).png");
  }

  .home__wrapper {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 800px;
    padding-top: 253px;
  }

  .home-title {
    width: 409px;

    font-family: Jost;
    font-size: 32px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .home-text {
    width: 507px;

    font-family: Jost;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    padding: 24px 0 30px;
  }
}

.about {
  margin-top: 100px;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-title {
  font-family: Jost;
  font-size: 30px;
  font-weight: 900;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.about-text {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 347px;
  padding-top: 12px;
}

.features-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 390px;
  padding-top: 20px;
}
.feature {
  width: 217px;
  height: 267px;
  margin: 0 8px;
}
.feature-img {
  width: 140px;
  height: 126px;
}
.feature-text-bold {
  font-family: Jost;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 258px;
  height: 56px;
}
.feature-text {
  padding-top: 19px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #505050;
}
.about-image-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: #ffffff;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-title {
    font-family: Jost;
    font-size: 48px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .about-text {
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 893px;
    padding-top: 31px;
  }

  .features-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    width: 1112px;
    padding-top: 27px;
  }
  .feature {
    width: 217px;
    height: 267px;
    margin: 0 30px;
  }
  .about-image {
    display: none;
  }
  .about-image-desk {
    display: flex;
  }
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 26px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  width: 151px;
  height: 44px;
}

.gallery {
  margin: 40px auto;
  width: 390px;
}
.gallery-title {
  text-align: center;
}
.gallery__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.gallery__item {
  background: transparent;
  width: 342px;
  height: 190px;

  margin: 20px;
}
.gallery__item-text-color {
  width: 342px;
  height: 123px;
  gap: 0px;
  border-radius: 30px;
  background: #084282;
  padding: 47px 26px;
  font-family: Jost;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  text-transform: uppercase;
}
.gallery__item-text {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #505050;
  padding-top: 22px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin: 40px auto;
    width: 1440px;
  }
  .gallery__list {
    width: 1199px;
    margin: auto;
  }
  .gallery-button-container {
    display: flex;
    align-items: end;
    justify-content: end;

    margin-top: 26px;
    margin-right: 42px;
  }
}
/*  */

.special {
  margin: 40px auto;
  width: 390px;
}
.special-text {
  padding-top: 44px;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.special__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 75px;
}

.special__item {
  background: transparent;
  width: 219px;

  margin: 20px;
}

.special__item-text {
  font-family: Jost;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 211px;
  height: 56px;

  color: #505050;
  padding-top: 22px;
}
.special__list-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .special {
    margin: 40px auto;
    width: 1454px;
    height: 832px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(/image/special/Özel\ İmkanlar.png);
  }
  .special__list-phone {
    display: none;
  }

  .special-list {
    display: flex;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding-bottom: 0;
    flex-direction: row;
    width: 538px;
    height: 556px;
    margin: 37px 72px;
    gap: 24px;
    flex-wrap: wrap;
  }
  .special__list-desk {
    display: flex;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding-bottom: 0;
    flex-direction: row;
    height: 556px;
    flex-wrap: wrap;
  }
  .special__item {
    background: transparent;
    width: 223px;
    height: 266px;

    margin: 0;
  }

  .special__item-text {
    font-family: Jost;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 214px;
    height: 56px;

    color: #000000;
    padding-top: 22px;
  }
  .special__item-text-two {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #505050;
    padding-top: 70px;
  }
}

.faq {
  margin: 40px auto;
  width: 390px;
}

.faq__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.faq__item {
  background: transparent;
  width: 288px;

  margin: 50px;
}
.faq-text {
  font-family: Jost;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  padding-bottom: 39px;
}
.faq__item-text {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .faq {
    margin: 140px auto;
    width: 1440px;
  }
  .faq__list {
    width: 1120px;
    margin: auto;
  }

  .faq__item {
    background: transparent;
    width: 288px;

    margin: 50px;
  }
  .faq__list-right {
    display: none;
  }
}
/*  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 50px;
}

.form-container {
  width: 335px;
  display: flex;
  flex-direction: column;
}
.form-input {
  background: #d8d8d8;

  border: none;
  padding: 3px 17px;
  margin: 11px 0;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 57.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;

  width: 344px;
}
.form-button {
  margin: 28px auto 47px;
}

.contact-img-phone {
  width: 390px;
  height: 349px;

  margin: 60px auto 0;
}
.contact-img-container-text {
  margin: auto;
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;
  width: 294px;

  padding-top: 28px;
}
/* .contact-img-container-bold {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.78px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
} */
.contact-img-desk {
  display: none;
}
@media screen and (min-width: 1200px) {
  .form {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 0px auto;
    width: 1335px;
    justify-content: space-between;
  }

  .form-container {
    width: 598px;

    display: flex;
    flex-direction: column;
  }
  .form-input {
    background: #d8d8d8;

    border: none;
    padding: 3px 17px;
    margin: 11px 0;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 57.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-transform: uppercase;

    width: 598px;
  }
  .form-button {
    margin: 28px auto 0;
  }
  .contact-img-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact-img-phone {
    display: none;
  }
  .contact-img-desk {
    display: flex;
  }
  .contact-img-text {
    display: flex;
    flex-wrap: wrap;
    width: 576px;
    align-items: start;
  }
  .contact-img-container-text {
    margin: auto;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-decoration: none;
    width: auto;
    min-width: 204px;
    padding-top: 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 34px 32px;
  gap: 19px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 26px;
}
.footer-text {
  font-family: Jost;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;

  color: #084282;

  text-align: center;
}
.footer-img {
  display: flex;
  width: 202px;
  height: 202px;
  margin: auto;
}
.footer-copyright {
  font-family: Jost;
  font-size: 14px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #000000;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: auto;
    padding: 70px 23px;
    align-items: center;

    display: flex;
    align-items: center;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: center;
  }

  .footer-text {
    font-family: Jost;
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .footer-wrapper-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 235px;
    align-items: end;
  }
  .footer-img {
    width: 302px;
    height: 302px;
    margin: 0;
  }
  .footer-copyright {
    font-family: Jost;
    font-size: 14px;
    font-weight: 900;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.policy-terms-container {
  flex-direction: column;
  align-items: start;
  padding: 100px 30px 108px;
  background: #fffefb;
}
.policy-terms-title {
  font-family: Jost;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 24px;
}
.policy-terms-custom-list {
  padding-top: 24px;
  list-style-type: decimal;
  counter-reset: list-counter;
}
.policy-terms-custom-list li {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  position: relative;
  counter-increment: list-counter;
}
.policy-terms-text {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.policy-terms-text-one {
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-list {
  list-style-type: disc;
  color: #000000;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.terms-lists {
  list-style-type: disc;
  color: #000000;
  padding-left: 25px;
  font-family: Jost;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.email-link {
  color: inherit;
}

@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 140px 140px 40px;
    align-items: start;
  }

  .policy-terms-title {
    font-family: Jost;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-bottom: 46px;
  }
  .policy-terms-custom-list {
    list-style-type: decimal;
    counter-reset: list-counter;
  }
  .policy-terms-custom-list li {
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    position: relative;
    counter-increment: list-counter;
  }

  .policy-terms-text-one {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 390px;
  max-width: 1440px;
  padding: 38px 31px;
  text-align: center;
  z-index: 1000;

  display: none;
  background-color: #b60b0b;
}

.cookie-popup-text {
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.cookie-button {
  width: 342px;
  height: 74px;
  border-radius: 50px;
  font-family: Jost;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  margin-top: 24px;
  border: none;
}

#accept-cookies {
  background: #ffffff;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .cookie-popup-text {
    font-family: Jost;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .cookie-button {
    width: 342px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
  .cookie-popup {
    width: 1440px;
    max-width: 1440px;

    padding: 22px 0px;
  }
}
